
<form n:name="form" class="ajax">
	<ul class="errors" n:if="$form->hasErrors()">
		<li class="text-danger" n:foreach="$form->ownErrors as $error">{$error}</li>
	</ul>

	<div class="form-group form-field">
		{label from class => 'control-label' /}
		{*<small n:if="empty($downloadedChars)">You have no contacts, <a href="{plink Key:add}">add api key</a> first</small>*}
		<div class="controls">
			{input from class => 'form-control'}
		</div>
	</div>

	<div class="form-group form-field">
		{label to class => 'control-label' /}
		<small>Character not in this list? You have to <a href="{plink Characters:add}">login</a> with him</small>
		<div class="controls">
			{input to class => 'form-control'}
		</div>
	</div>

	<div class="form-proceed">
		{input copy class => 'btn btn-primary'}
	</div>

</form>
