<!-- Static navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
			        aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" n:href="Homepage:">EveBlues</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a n:href="Characters:">Characters</a></li>
				<li><a n:href="Key:add">Add api key</a></li>
				<li><a n:href="Contacts:">Contacts</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown" n:if="$user->isLoggedIn()">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
					   aria-expanded="false">{$loggedInUser->name} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a n:href="Profile:">Profile</a></li>
						<li><a n:href="Key:">Api keys</a></li>
						<li role="separator" class="divider"></li>
						{*<li><a href="#">Something else here</a></li>*}
						{*<li class="dropdown-header">Nav header</li>*}
						{*<li><a href="#">Separated link</a></li>*}
						{*<li><a href="#">One more separated link</a></li>*}
						<li><a n:href="Sign:out">Logout</a></li>
					</ul>
				</li>
				{*<li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>*}
				{*<li><a href="../navbar-static-top/">Static top</a></li>*}
				<li n:if="!$user->isLoggedIn()"><a n:href="Sign:in"><img src="images/EVE_SSO_Login_Buttons_Small_Black.png" alt="Log In with Eve Online"></a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>