<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}EveBlues</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{block head}{/block}
</head>

<body>

{include @header.latte}

<div class="container">



	{snippet flashes}
	<div n:foreach="$flashes as $flash" n:class="alert, flash, 'alert-' . $flash->type" role="alert">{$flash->message}</div>
	{/snippet}

	{include content}
</div> <!-- /container -->

{block scripts}

	<script src="https://code.jquery.com/jquery-2.2.4.js"
	        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
	        crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	        crossorigin="anonymous"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/nette.forms.js"></script>
	{*<script src="{$basePath}/js/main.js"></script>*}
	<script type="text/javascript">$(function () { $.nette.init(); });</script>
{/block}
{include @footer.latte}
</body>
</html>
