{block content}

<div class="jumbotron">
	<h1>Eve Blues</h1>
	<p>Set up blues on your alts with a single click.</p>
	<p>
		{if $user->isLoggedIn()}
			<a class="btn btn-lg btn-primary" n:href="Characters:add" role="button">Yes pls &raquo;</a>
		{else}
			<a class="btn btn-lg btn-primary" n:href="Sign:in" role="button">Yes pls &raquo;</a>
		{/if}
	</p>
</div>

