{block content}

<div class="row" n:snippet="form">
	<div class="col-md-6">
		<ul class="breadcrumb">
			<li n:class="$step == 1 ? active">Add api key</li>
			<li n:class="$step == 2 ? active">Select contacts</li>
			<li n:class="$step == 3 ? active">dd</li>
		</ul>
	</div>


	<div class="col-md-6" n:if=" $step == 1">
		{control addKeyForm}
	</div>
	<div class="col-md-6" n:if=" $step == 2">
		{control characterSelectForm}
	</div>

</div>
