{block content}

<h1 n:block=title>Api keys</h1>

<div class="row">
	<ul n:inner-foreach="$keys as $key">
		<li>
			<strong>{$key->label?: '(no label)'}</strong> {$key->keyId} <a n:href="Key:remove $key->id">Remove</a>
		</li>
	</ul>
	<div n:if="count($keys) == 0">You don't have any keys</div>
	<div><a n:href="Key:add">Add new api key</a></div>
</div>
