
<h4><a target="_blank" href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=8388624">Create predefined</a></h4>
<form n:name="form" class="ajax">
	<ul class="errors" n:if="$form->hasErrors()">
		<li class="text-danger" n:foreach="$form->ownErrors as $error">{$error}</li>
	</ul>

	<div class="form-group form-field">
		{label label class => 'control-label' /}
		<div class="controls">
			{input label class => 'form-control'}
		</div>
	</div>

	<div class="form-group form-field">
		{label keyId class => 'control-label' /}
		<div class="controls">
			{input keyId class => 'form-control'}
		</div>
	</div>

	<div class="form-group form-field">
		{label vCode class => 'control-label' /}
		<div class="controls">
			{input vCode class => 'form-control'}
		</div>
	</div>

	<div class="form-proceed">
		{input add class => 'btn btn-primary'}
	</div>

</form>
