{block content}

<h1 n:block=title>Characters</h1>

{control characters $characters}

<div class="row">
	<div class="col-md-6">
		<a n:href="Characters:add">
			Add character
		</a>

	</div>
	<div class="col-md-6" n:snippet="copyform">
		{control CopyContactsForm}
	</div>
</div>

