{block content}

<h1 n:block=title>Contacts</h1>

<div n:inner-foreach="$characters as $character">
	<div class="row">
		<div class="col-md-12">
			{$character->name}
			<span class="text-info" title="Character contacts">{$character->contacts->count()}</span>
			{if $character->corporation->contacts->count()}
				/ <span class="text-warning" title="Corporation contacts">{$character->corporation->contacts->count()}</span>
			{/if}
			{if $character->corporation->alliance && $character->corporation->alliance->contacts->count()}
				/ <span class="text-danger" title="Alliance contacts">{$character->corporation->alliance->contacts->count()}</span>
			{/if}
		</div>
		{*<div class="col-md-8">*}
			{*<strong>{$key->label?: '(no label)'}</strong> {$key->keyId} <a n:href="Contacts:get $key->id">Use key to download contacts</a>*}
		{*</div>*}
	</div>
</div>

