{block content}

<h1 n:block=title>Get contacts</h1>

<div class="row">
	<ul n:inner-foreach="$keys as $key">
		<li >
			<strong>{$key->keyId}</strong> <a n:href="Contacts:get $key->id">Use key to download contacts</a>
		</li>
	</ul>
</div>
