
<form n:name="form" class="ajax">
	<ul class="errors" n:if="$form->hasErrors()">
		<li class="text-danger" n:foreach="$form->ownErrors as $error">{$error}</li>
	</ul>

	<div class="form-group form-field">
		{label character class => 'control-label' /}
		<div class="controls">
			{input character class => 'form-control'}
		</div>
	</div>

	<div class="form-proceed">
		{input select class => 'btn btn-primary'}
	</div>

</form>
