
<a n:href="Characters:add">
	<img src="/images/EVE_SSO_Login_Buttons_Large_Black.png" alt="Add Character">
</a>

{*<form n:name="form">*}
	{*<ul class="errors" n:if="$form->hasErrors()">*}
		{*<li class="text-danger" n:foreach="$form->ownErrors as $error">{$error}</li>*}
	{*</ul>*}

	{*<div class="form-group form-field">*}
		{*{label keyId class => 'control-label' /}*}
		{*<div class="controls">*}
			{*{input keyId class => 'form-control'}*}
		{*</div>*}
	{*</div>*}

	{*<div class="form-group form-field">*}
		{*{label vCode class => 'control-label' /}*}
		{*<div class="controls">*}
			{*{input vCode class => 'form-control'}*}
		{*</div>*}
	{*</div>*}

	{*<div class="form-proceed">*}
		{*{input add class => 'btn btn-default'}*}
	{*</div>*}
{*</form>*}

